{% extends "employer_portal/base.html" %}
{% block title %} Connect-U Employers {% endblock title%}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome, {{user.first_name.title|default:'Guest'}}</h1>
        <p style="font-size: 18px;">
            Connect-U is a career service platform designed to simplify candidate searching for employers.
            With just a few clicks, employers can post their jobs and choose the best candidates for an interview.
            Find your dream candidate today with Connect-U!
        </p>
        <hr class="my-4">
        <p class="lead">
            {% if user.is_authenticated %}
                <a class="btn btn-primary btn-danger" href="{% url 'employer_portal-logout' %}" role="button">Logout</a>
            {% else %}
                <a class="btn btn-primary btn-lg btn-info" href="{% url 'employer_portal-login' %}" role="button">Sign in</a>
                <a class="btn btn-lg btn-info" href="{% url 'student_portal-login' %}" role="button" style="background-color:#912338; border-color:#912338;">Student Sign in</a>
            {% endif %}
        </p>
    </div>
{% endblock content %}