{% extends "employer_portal/base.html" %}
{% block title %} Job Postings | Connect-U Employers {% endblock title %}
{% block content %}
    <div class="container-fluid">
        <h2 class="text-left mb-5" style="color: #004085;"><span class="fa fa-search"></span> Current Listings</h2>
        <div class="row">
           <form class="form-inline my-2 my-lg-0" method="GET">
              <div class="input-group">
                 <input class="form-control" type="search" placeholder="Search Job Title" aria-label="Search" name="search">
                 <div class="input-group-append">
                    <button class="btn btn-outline-info" type="submit">Search</button>
                    {% if request.GET.search %}
                    <a href="{% url 'employer_portal-manage_job_postings' %}" class="btn btn-secondary ml-2">Show All</a>
                    {% endif %}
                 </div>
              </div>
              <div class="input-group ml-3">
                 <div class="input-group-prepend">
                    <label class="input-group-text" for="jobType">Job Type</label>
                 </div>
                 <select class="custom-select" id="jobType" name="job_type">
                 <option value="" {% if not request.GET.job_type %}selected{% endif %}>All</option>
                 <option value="Full-time" {% if request.GET.job_type == "Full-time" %}selected{% endif %}>Full-time</option>
                 <option value="Part-time" {% if request.GET.job_type == "Part-time" %}selected{% endif %}>Part-time</option>
                 <option value="Contract" {% if request.GET.job_type == "Contract" %}selected{% endif %}>Contract</option>
                 <option value="Temporary" {% if request.GET.job_type == "Temporary" %}selected{% endif %}>Temporary</option>
                 <option value="Volunteer" {% if request.GET.job_type == "Volunteer" %}selected{% endif %}>Volunteer</option>
                 <option value="Internship" {% if request.GET.job_type == "Internship" %}selected{% endif %}>Internship</option>
                 <option value="Other" {% if request.GET.job_type == "Other" %}selected{% endif %}>Other</option>
                 </select>
                 <div class="input-group-append">
                    <button class="btn btn-outline-info" type="submit">Filter</button>
                    {% if request.GET.job_type %}
                    <a href="{% url 'employer_portal-manage_job_postings' %}" class="btn btn-secondary ml-2">Clear Filter</a>
                    {% endif %}
                 </div>
              </div>
            </form>
            <a href="#" class="btn btn-dark ml-auto" data-toggle="modal" data-target="#createJobModal">Create New Job Posting</a>
        </div>
        <div style="margin-bottom: 20px;"></div>
        <table class="table">
            <caption>Job Postings Table</caption>
            <thead style="background-color: #004085; color: white;">
                <tr>
                    <th class="eye-column" style="width: 1%;"></th>
                    <th>Job Title</th>
                    <th>Location</th>
                    <th>Application Deadline</th>
                    <th class="eye-column"></th>
                    <th class="eye-column" style="width: 1%;"></th>
                </tr>
            </thead>
            <tbody>
                {% for job in job_postings %}
                    <tr>
                        <td class="eye-column"><a href="#" data-toggle="modal" data-target="#manageJobModal-{{ job.job_id }}"><i class="fa fa-edit" style="color: #004085;"></i></a></td>
                        <td>{{ job.title }}</td>
                        <td>{{ job.location }}</td>
                        <td>{{ job.application_deadline }}</td>
                        <td class="eye-column"><a href="#" data-toggle="modal" data-target="#viewCandidates-{{ job.job_id }}">View Candidates</a></td>
                        <td class="eye-column"><a href="#" data-toggle="modal" data-target="#deleteJobModal-{{ job.job_id }}"><i class="fa fa-trash" style="color: #004085;"></i></a></td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">No job postings found.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="modal fade" id="createJobModal" tabindex="-1" role="dialog" aria-labelledby="createJobModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="createJobModalLabel">Create New Job Posting</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      <form method="post" action="{% url 'create_job_posting' %}">
                          {% csrf_token %}
                          <div class="form-group">
                              <label for="title">Title:</label>
                              <input type="text" name="title" class="form-control" required>
                          </div>
                          <div class="form-group">
                              <label for="company_name">Company Name:</label>
                              <input type="text" name="company_name" class="form-control" value="{{ request.user.profile.company_name }}" readonly required>
                          </div>
                          <div class="form-group">
                              <label for="website">Website:</label>
                              <input type="text" name="website" class="form-control" value="{{ request.user.profile.website }}" readonly required>
                          </div>
                          <div class="form-group">
                             <label for="job_type">Job Type:</label>
                             <select name="job_type" class="form-control" required>
                                 <option value="" selected disabled>Select job type</option>
                                 <option value="Full-time">Full-time</option>
                                 <option value="Part-time">Part-time</option>
                                 <option value="Contract">Contract</option>
                                 <option value="Temporary">Temporary</option>
                                 <option value="Volunteer">Volunteer</option>
                                 <option value="Internship">Internship</option>
                                 <option value="Other">Other</option>
                            </select>
                          </div>
                          <div class="form-group">
                              <label for="job_category">Job Category:</label>
                              <select name="job_category" class="form-control" required>
                                  <option value="" selected disabled>Select job category</option>
                                  <option value="Education">Education</option>
                                  <option value="Business">Business</option>
                                  <option value="Healthcare">Healthcare</option>
                                  <option value="Technology">Technology</option>
                                  <option value="Arts and entertainment">Arts and entertainment</option>
                                  <option value="Other">Other</option>
                              </select>
                          </div>
                          <div class="form-group">
                              <label for="location">Location:</label>
                              <input type="text" name="location" class="form-control" value="{{ request.user.profile.location }}" readonly required>
                          </div>
                          <div class="form-group">
                              <label for="salary">Salary:</label>
                              <input type="text" name="salary" class="form-control" required>
                          </div>
                          <div class="form-group">
                              <label for="description">Description:</label>
                              <textarea name="description" class="form-control" rows="5" required></textarea>
                          </div>
                          <div class="form-group">
                              <label for="requirements">Requirements:</label>
                              <textarea name="requirements" class="form-control" rows="5" required></textarea>
                          </div>
                          <div class="form-group">
                              <label for="application_deadline">Application Deadline:</label>
                              <input type="date" name="application_deadline" class="form-control" required>
                          </div>
                          <div class="form-group">
                              <label for="contact_info">Contact Info:</label>
                              <input type="text" name="contact_info" class="form-control" value="{{ request.user.email }}" readonly required>
                          </div>
                          <input type="hidden" name="employer" value="{{ request.user.profile.pk }}">
                          <button type="submit" class="btn btn-primary">Create Job Posting</button>
                      </form>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>
              </div>
          </div>
        </div>

        <!-- Manage job posting modal -->
        {% for job in job_postings %}
        <div class="modal fade" id="manageJobModal-{{ job.job_id }}" tabindex="-1" role="dialog" aria-labelledby="manageJobModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createJobModalLabel">Manage Job Posting</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="{% url 'update_job_posting' %}">
                            {% csrf_token %}
                            <input type="hidden" name="job_id" value="{{ job.job_id }}">
                            <div class="form-group">
                                <label for="title">Title:</label>
                                <input type="text" name="title" class="form-control" value="{{ job.title }}" required>
                            </div>
                            <div class="form-group">
                                <label for="company_name">Company Name:</label>
                                <input type="text" name="company_name" class="form-control" value="{{ job.company_name }}" required>
                            </div>
                            <div class="form-group">
                                <label for="website">Website:</label>
                                <input type="text" name="website" class="form-control" value="{{ job.website }}" required>
                            </div>
                            <div class="form-group">
                               <label for="job_type">Job Type:</label>
                               <select name="job_type" class="form-control" required>
                                   <option value="" disabled>Select job type</option>
                                   <option value="Full-time" {% if job.job_type == 'Full-time' %}selected{% endif %}>Full-time</option>
                                   <option value="Part-time" {% if job.job_type == 'Part-time' %}selected{% endif %}>Part-time</option>
                                   <option value="Contract" {% if job.job_type == 'Contract' %}selected{% endif %}>Contract</option>
                                   <option value="Temporary" {% if job.job_type == 'Temporary' %}selected{% endif %}>Temporary</option>
                                   <option value="Volunteer" {% if job.job_type == 'Volunteer' %}selected{% endif %}>Volunteer</option>
                                   <option value="Internship" {% if job.job_type == 'Internship' %}selected{% endif %}>Internship</option>
                                   <option value="Other" {% if job.job_type == 'Other' %}selected{% endif %}>Other</option>
                               </select>
                            </div>
                            <div class="form-group">
                              <label for="job_category">Job Category:</label>
                              <select name="job_category" class="form-control" required>
                                <option value="" disabled>Select job category</option>
                                <option value="Education" {% if job.job_category == 'Education' %}selected{% endif %}>Education</option>
                                <option value="Business" {% if job.job_category == 'Business' %}selected{% endif %}>Business</option>
                                <option value="Healthcare" {% if job.job_category == 'Healthcare' %}selected{% endif %}>Healthcare</option>
                                <option value="Technology" {% if job.job_category == 'Technology' %}selected{% endif %}>Technology</option>
                                <option value="Arts and entertainment" {% if job.job_category == 'Arts and entertainment' %}selected{% endif %}>Arts and entertainment</option>
                                <option value="Other" {% if job.job_category == 'Other' %}selected{% endif %}>Other</option>
                              </select>
                            </div>
                            <div class="form-group">
                                <label for="location">Location:</label>
                                <input type="text" name="location" class="form-control" value="{{ job.location }}" required>
                            </div>
                            <div class="form-group">
                                <label for="salary">Salary:</label>
                                <input type="text" name="salary" class="form-control" value="{{ job.salary }}" required>
                            </div>
                            <div class="form-group">
                                <label for="description">Description:</label>
                                <textarea name="description" class="form-control" rows="5" required>{{ job.description }}</textarea>
                            </div>
                            <div class="form-group">
                                <label for="requirements">Requirements:</label>
                                <textarea name="requirements" class="form-control" rows="5" required>{{ job.requirements }}</textarea>
                            </div>
                            <div class="form-group">
                                <label for="application_deadline">Application Deadline:</label>
                                <input type="date" name="application_deadline" class="form-control" value="{{ job.application_deadline|date:'Y-m-d' }}" required>
                            </div>
                            <div class="form-group">
                                <label for="contact_info">Contact Info:</label>
                                <input type="text" name="contact_info" class="form-control" value="{{ job.contact_info }}" required>
                            </div>
                            <input type="hidden" name="employer" value="{{ request.user.profile.pk }}">
                            <button type="submit" class="btn btn-primary">Update Job Posting</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Delete job posting modal -->
        <div class="modal fade" id="deleteJobModal-{{ job.job_id }}" tabindex="-1" role="dialog" aria-labelledby="deleteJobModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteJobModalLabel">Delete Job Posting</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this job posting?</p>
                    </div>
                    <div class="modal-footer">
                        <form action="{% url 'delete_job_posting' job.pk %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

     {% for job in job_postings %}
            <div class="modal fade" id="viewCandidates-{{ job.job_id }}" tabindex="-1" role="dialog" aria-labelledby="viewCandidatesLabel-{{ job.job_id }}" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="viewCandidatesLabel-{{ job.job_id }}">Candidates for {{ job.title }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table class="table">
                                <caption>View Candidates Table</caption>
                                <thead>
                                    <tr>
                                        <th>Username</th>
                                        <th>Date Applied</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for job_application in job.jobapplication_set.all %}
                                        <tr>
                                            <td>{{ job_application.student_username }}</td>
                                            <td>{{ job_application.date_applied }}</td>
                                            {% with student=job_application.student_username %}
                                                {% if student.resume %}
                                                    <td><a href="{{ student.resume.url }}" target="_blank">View Resume</a></td>
                                                {% else %}
                                                    <td>Resume not available</td>
                                                {% endif %}
                                            {% endwith %}
                                            <td><a href="{% url 'select_candidate' job_application.id %}?subject=Update%20on%20application&body=Hello%20{{ job_application.student_username.user.first_name }},%0A%0AThank%20you%20for%20applying%20for%20{{ job.title }}.%0A%0AYou%20have%20been%20accepted%20for%20an%20interview.%20The%20employer%20will%20contact%20you%20shortly%20with%20a%20time.%0A%0AThanks.&email={{ job_application.student_username.user.email }}">Select Candidate</a></td>
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="3">No candidates yet.</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% for job in job_postings %}
            <div class="modal fade" id="viewCandidates-{{ job.job_id }}" tabindex="-1" role="dialog" aria-labelledby="viewCandidatesLabel-{{ job.job_id }}" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="viewCandidatesLabel-{{ job.job_id }}">Candidates for {{ job.title }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table class="table">
                                <caption>View Candidates Table</caption>
                                <thead>
                                    <tr>
                                        <th>Username</th>
                                        <th>Date Applied</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for job_application in job.jobapplication_set.all %}
                                        <tr>
                                            <td>{{ job_application.student_username }}</td>
                                            <td>{{ job_application.date_applied }}</td>
                                            {% with student=job_application.student_username %}
                                                {% if student.resume %}
                                                    <td><a href="{{ student.resume.url }}" target="_blank">View Resume</a></td>
                                                {% else %}
                                                    <td>Resume not available</td>
                                                {% endif %}
                                            {% endwith %}
                                            <td><a href="{% url 'select_candidate' job_application.id %}?subject=Update%20on%20application&body=Hello%20{{ job_application.student_username.user.first_name }},%0A%0AThank%20you%20for%20applying%20for%20{{ job.title }}.%0A%0AYou%20have%20been%20accepted%20for%20an%20interview.%20The%20employer%20will%20contact%20you%20shortly%20with%20a%20time.%0A%0AThanks.&email={{ job_application.student_username.user.email }}">Select Candidate</a></td>
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="3">No candidates yet.</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}